[submodule "lib/qpOASES"]
	path = lib/qpOASES
	url = https://github.com/coin-or/qpOASES.git
[submodule "lib/idyntree"]
	path = lib/idyntree
	url = https://github.com/robotology/idyntree.git
[submodule "lib/ifopt"]
	path = lib/ifopt
	url = https://github.com/ethz-adrl/ifopt.git
[submodule "lib/towr"]
	path = lib/towr
	url = https://github.com/ethz-adrl/towr.git
