<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find anymal_wbc)/launch/spawn_cylinders.launch">
    </include>

    <rosparam command="load" file="$(find anymal_wbc)/config/params.yaml" ns="anymal_wbc"/>
    <node name="whole_body_controller_node" pkg="anymal_wbc" type="whole_body_controller_node" output="screen"/>

</launch>