<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="gui" default="true" />

    <include file="$(find anymal_wbc)/launch/spawn.launch">
        <arg name="gui" value="$(arg gui)" />
    </include>

    <rosparam command="load" file="$(find anymal_wbc)/config/params_controller.yaml" ns="anymal_wbc"/>
    <rosparam command="load" file="$(find anymal_wbc)/config/params_planner.yaml" ns="anymal_wbc"/>
    <node name="whole_body_controller_node" pkg="anymal_wbc" type="whole_body_controller_node" output="screen"/>

</launch>